/* import fonts */

@font-face {
  font-family: 'okolaksbold';
  src: url('/assets/webfontkit-okolaks/okolaksbold-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksbolditalic';
  src: url('/assets/webfontkit-okolaks/okolaksbolditalic-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksbolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksregular';
  src: url('/assets/webfontkit-okolaks/okolaksregular-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksregularitalic';
  src: url('/assets/webfontkit-okolaks/okolaksregularitalic-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Root or base selectors */

:root {
    /* Colors */
  --gold: rgba(245, 166, 38, 1.0);
  --orange: rgba(235, 113, 38, 1.0);
  --blue: rgba(19, 60, 95, 1.0);
  --almost-white: rgba(224, 232, 240, 1.0);
  --almost-black: rgba(23, 23, 28, 1.0);
  --red: rgba(169, 47, 42, 1.0);

    /* Spacing */
  --padding-XL: 4.2rem;
  --padding-L: 2.6rem;
  --padding-M: 1.3rem;
  --padding-S: .65rem;

    /* Styling */
  --box-shadow: 0px 0px 8px 3px rgba(19, 60, 95, 0.3);
  --box-shadow-yellow: 0px 0px 8px 3px rgba(245, 166, 38, 0.3);
  --box-shadow-orange: 0px 0px 8px 3px rgba(235, 113, 38, 0.3);
  --text-shadow-blue:  2px 2px 6px rgba(19, 60, 95, .6);
  --text-shadow: 0px 0px 6px rgba(235, 113, 38,0.4);
  --border-radius: .9rem;
  --font-XXL: 3.8rem;
  --font-XL: 2rem;
  --font-L: 1.5rem;
  --font-M: 1.2rem;
  --font-S: 1rem;
  --font-XS: .8rem;
}



/* Universal */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: var(--text-shadow);
  color: var(--almost-black);
  font-family: 'okolaksregular', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--almost-white);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: var(--padding-M) var(--padding-L);
}

main {

}

section {
  height: 100vh;
  padding: var(--padding-M) 0;
  display: flex;
  width: 100%;
  padding: var(--padding-M) var(--padding-L);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-M) var(--padding-L);
}

a {
  text-decoration: none;
}

.mobile-break {
  display: none;
}

.column {
  flex-direction: column;
}


/* Header */

header div {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

header a {
  padding: var(--padding-S) var(--padding-M);
  font-size: var(--font-M);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  
}

header h2 {
  font-size: var(--font-L);
}

form {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  gap: var(--padding-S);
}

form input {
  padding: var(--padding-S) 0 var(--padding-S) var(--padding-S) ;
  font-size: var(--font-M);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 80%;
  border: none;
}

form button {
  transform: rotate(180deg);
  padding: var(--padding-S);
  font-size: var(--font-M);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  border: none;
}





/* Homepage */
/* Main */

.hero {
  justify-content: center;
  text-align: center;
  gap: var(--padding-S);
}

.hero h1 {
  font-size: var(--font-XL);
}

/* Page Selection */
.page-section {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.page-container {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding-M) var(--padding-L);
  box-shadow: var(--box-shadow);
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: var(--font-M);
}

.page-img {
  margin-top: var(--padding-M);
  border-top: 2px solid rgba(148, 148, 148, 0.4);
  background-size: cover;
  height: 100%;
}

#page-img-1 {
  background-image: url(/assets/tool-sample.png);
}

#page-img-2 {
  background-image: url(/assets/tool-sample.png);
}

#page-img-3 {
  background-image: url(/assets/tool-sample.png);
}

#page-img-4 {
  background-image: url(/assets/tool-sample.png);
}



/* About Page*/

.about-main-container {

}

.about-main-section .about-top {

}

.about-main-section {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 100%;
  
}

.about-text-top {
  width: 50%;
  font-size: var(--font-XS);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 166, 38, .5);
  box-shadow: var(--box-shadow), var(--box-shadow) inset;
  padding: var(--padding-M);
}

.about-text-bottom {
  width: 50%;
  font-size: var(--font-XS);
  background-color: rgba(169, 47, 42, 0.5);
  box-shadow: var(--box-shadow), var(--box-shadow) inset;
  padding: var(--padding-M);
}

.about-main-section img {
  width: 50%;
  padding: var(--padding-M);
  box-shadow: var(--box-shadow);
  background-color: rgba(19, 60, 95, .5);
}






/* effects */
.page-container, header a, form input, form button {
  transition: box-shadow .6s ease-in-out, text-shadow .6s ease-in-out, color .6s ease-in-out;
}
.page-container:hover, header a:hover, form input:hover, form button:hover  {
  box-shadow: var(--box-shadow-yellow), inset var(--box-shadow-orange);
  color: var(--red);
  text-shadow: var(--text-shadow-blue);
}
form input:focus {
  outline: none;
  border: 1px solid rgb(235, 113, 38);
}

/* AT MEDIA FOR RESPONSE*/
@media only screen and (max-width: 780px) {
  :root {
      /* Spacing */
    --padding-XL: 1.9rem;
    --padding-L: 1.1rem;
    --padding-M: .45rem;
    --padding-S: .25rem;
      /* Styling */
    --box-shadow: 0px 0px 8px 3px rgba(23, 23, 28, 0.3);
    --text-shadow: 0px 0px 6px rgba(235, 113, 38,0.4)
    --border-radius: .9rem;
    --font-XXL: 3.5rem;
    --font-XL: 1.7rem;
    --font-L: 1.2rem;
    --font-M: .9rem;
    --font-S: .6rem;
    --font-XS: .3rem;
  }

  /* Universal */
  .mobile-break {
    display: block;
  }
  .page-container {
    width: 80%;
    height: 20vh;
  }
  


}